@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@{
    { Html.RenderPartial("PageBanner"); }
}
<div class="content">
    <section>
        <div class="container">
            <div class="row">
                <div class="section-title">@Common.Translate("ContactForm.HumanResources")<strong>@Common.Translate("Contaxt.AppForm")</strong></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form-holder">
                        <div id="contact-form">
                            <div id="message"></div>
                            @Html.Action("HRApplicationForm", "HR")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
