@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<section class="section white-section section-padding-top">
	@{
	var selection = CurrentPage.Site().FirstChild("clientHome").FirstChild("blogFolder1").Children("referansLogo").Where("Visible");
}
	
			<div id="projects-grid">
		 @foreach(var item in selection){
				<a class="expander" href="javascript:void(0)">
					<div class="portfolio-box-1 photography">
						<div class="mask-1"></div>
						<img src="@item.referansLogoResim" alt="@item.referansLogoBaslik">
						<h6>@item.referansLogoBaslik</h6>
					</div>
				</a>

							
 }
			</div>
		</section>
							
							
@section jsek{
<script type="text/javascript" src="/scripts/custom-ajax-grid-4col.js"></script> 
<script type="text/javascript" src="/scripts/jquery.fitvids.js"></script> 
<script type="text/javascript" src="/scripts/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/scripts/masonry.js"></script>
<script type="text/javascript" src="/scripts/isotope.js"></script>
	
}
							


