@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Service>
@using UmbBase.Web.Business
@using Umbraco.Web.Models

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
    var services = CurrentPage.Children;
}

@{
	var selection = CurrentPage.Site().FirstChild("clientHome").FirstChild("service").Children("serviceDetail").Where("Visible");
}
<section class="section grey-section section-padding-top-bottom ust-bosluk">
<div class="container">
	@foreach(var item in selection){
		
	
				<div class="one-third column" data-scroll-reveal="enter left move 200px over 1s after 0.3s">
					<div class="services-boxes-2 white-section">
						<h6>@item.pageTitle</h6>
						<p>@item.contentText</p>
					</div>
				</div>	
	}
</div>
</section>

@section jsek{
<script type="text/javascript" src="/scripts/custom-services-1.js"></script> 
<script type="text/javascript" src="/scripts/smk-accordion.js"></script>
<script type="text/javascript" src="/scripts/pro-bars.js"></script>
<script type="text/javascript" src="/scripts/visible.min.js"></script>
}
