@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Service>
@using UmbBase.Web.Business
@using Umbraco.Web.Models

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
    var services = CurrentPage.Children;
}



<section class="section grey-section section-padding-top-bottom ust-bosluk">
<div class="container">
	 @if (services.Any())
            {
                foreach (var service in services)
                {
                    <div class="one-third column" data-scroll-reveal="enter left move 200px over 1s after 0.3s">
					<div class="services-boxes-2 white-section">
						<h6>@service.pageTitle</h6>
						<p>@service.contentText</p>
					</div>
				</div>	
                }
            }
</div>
</section>

@section jsek{
<script type="text/javascript" src="/scripts/custom-services-1.js"></script> 
<script type="text/javascript" src="/scripts/smk-accordion.js"></script>
<script type="text/javascript" src="/scripts/pro-bars.js"></script>
<script type="text/javascript" src="/scripts/visible.min.js"></script>
}
