@model UmbBase.Web.Models.ContactFormViewModel

<p>Merhaba</p>
<p>Bu form web iletişim formu tarafından gönderilmiştir.</p>
<p>İsim : @Model.NameLastName</p>
<p>Email : @Model.Email</p>
<p>Mesaj : @Model.Message</p>

---------
Some Footer Text
